# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Lockfiles
bun.lock
yarn.lock

# Build output
lib/

# iOS
example/ios/Pods/
example/ios/build/
example/ios/DiffsExample.xcworkspace/
example/ios/.xcode.env.local
*.xcuserstate
*.xcworkspace/xcuserdata/

# Android
example/android/build/
example/android/app/build/
example/android/.gradle/
local.properties

# Buck
buck-out/
\.buckd/

# Metro
.metro-health-check*

# Nitrogen
nitrogen/

# Misc
*.log
*.tgz
